<footer class="uoc-footer">
  <div>
    <a href="index.html"><img src="./assets/images/logo.png" alt="Universitat Oberta de Catalunya"
        class="uoc-logo" /></a>
  </div>
  <div>
    <nav class="nav">
      <ul class="nav-ul">
        <li class="nav-li"><a class="nav-li-a" href="index.html">Home</a></li>
        <li class="nav-li"><a class="nav-li-a" href="speakers.html">Speakers</a></li>
        <li class="nav-li"><a class="nav-li-a" href="article.html">Article</a></li>
        <li class="nav-li"><a class="nav-li-a" href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div>
    <p>
      <a href="mailto:alfarosh@uoc.edu">
        <i class="fa-brands fa-google-plus-g"></i></a>
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
    </p>
  </div>
</footer>