<footer class="uoc-footer">
  <div>
    <a href="index.html"><img src="./assets/images/logo.png" alt="Universitat Oberta de Catalunya"
        class="uoc-logo" /></a>
  </div>
  <div>
    <nav>
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="speakers.html">speakers</a></li>
        <li><a href="article.html">Article</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div>
    <p>
      <i class="fa-brands fa-google-plus-g"></i>
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
    </p>
  </div>
</footer>