<footer class="uoc-footer">
  &copy; Universitat Oberta de Catalunya
</footer>

<footer>
  <div class="container">
    <div>
      <p><span class="banner"></span><a href="mailto:hola@cienciaytecnologia.org">hola@cienciaytecnologia.org</a></p>
    </div>
    <div class="outFieldset">
      <form>
        <p class="infoLegal">Siempre al día con nuestro boletín de noticias</p>
        <ul>
          <li>
            <label for="correo"></label>
            <input type="email" name="correo" id="correo" value="" required class="email"
              placeholder="Escribe tu e-mail ">
          </li>
          <li>
            <input type="checkbox" name="politica" id="politica"
              value="Aceptación de la política de protección de datos" required>
            <label for="politica">Acepto la <a href="">política de protección de datos</a></label>
          </li>
        </ul>
        <button type="submit">SUSCRÍBEME</button>
      </form>
    </div>
    <div>
      <nav>
        <ul>
          <li><a href="">Aviso legal</a></li>
          <li><a href="">Política de privacidad</a></li>
          <li><a href="">Política de <span lang="en">cookies</span></a></li>
        </ul>
      </nav>
    </div>
    <div>
      <p>2022 &copy; Sheida Vanesa Alfaro Taco</p>
      <p>Información elaborada a partir de la biblioguía <a
          href="https://biblioteca.uoc.edu/es/biblioguias/biblioguia/Mujeres-ciencia-y-tecnologia/">Mujeres
          ciencia y tecnología</a> de la biblioteca de la UOC</p>
      <p><a href="https://www.flaticon.es/iconos-gratis/atomo">Icono de la portada por flatart_icons –
          Flaticon
        </a></p>
    </div>
  </div>
</footer>